body {
    background-color: #eee;
}

h1 {
    font-weight: bold;
}

h3 {
    color: #777;
    font-size: 1.2em;
}

#card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

@media screen and (min-width: 500px) {
    #card {
        max-width: 500px;
    }
}

.card-title {
    font-size: 1.4em;
    font-weight: bold;
}

or {
    display: block;
    border-bottom: 1px solid #777;
    position: relative;
    margin: 1em 0;
}
or::after {
    content: "OR";
    background-color: #fff;
    padding: 0 10px;
    position: absolute;
    line-height: 1em;
    top: -.5em;
    color: #777;
}